#banner{
	width: 100%;
}
.principal{
	background:#F0E68C ;
	padding: 30px;

}
.titulo-principal{
	padding-left: 1%;
}
.titulo-centralizado{
	text-align: center;
}
nav{
	position: absolute;
	top: 390px;
	right: 25px;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

p{
	text-align: center;
}

#missao{
	font-size:20px ;
}

.viagem-centralizado{
	text-align: center;
	padding: 1%;
}
.itens{
	font-style: italic;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 6%;
}





